
node_modules/
dist/
data/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

jspm_packages/

*.tsbuildinfo

.npm

.eslintcache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.node_repl_history

*.tgz

.yarn-integrity

.env.test
.env.local
.env.production

.cache
.parcel-cache

.next

.nuxt

.cache/

.out
.storybook-out


tmp/
temp/


logs
*.log


pids
*.pid
*.seed
*.pid.lock


lib-cov


coverage


.grunt


bower_components


.lock-wscript


build/Release


node_modules/
jspm_packages/


.npm


.node_repl_history


*.tgz


.yarn-integrity


.env


.vscode/
.idea/
*.swp
*.swo
*~


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 